                        * {
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                            font-family: 'Nanum Gothic', sans-serif;
                        }
                        
                        .container {
                            height: 100vh;
                            display: grid;
                            grid-template-columns: 250px 4fr;
                            grid-template-rows: 1fr 5fr;
                        }
                        
                        #sidebar {
                            color: white;
                            padding: 20px;
                            background-color: #1992d4;
                            grid-column: 1/2;
                            grid-row: 1/6;
                            z-index: 3;
                            display: grid;
                            grid-template-rows: repeat(3, max-content);
                            gap: 50px;
                        }
                        
                        .sidebar-icon {
                            filter: invert(98%) sepia(0%) saturate(2%) hue-rotate(13deg) brightness(104%) contrast(101%);
                        }
                        
                        .logo,
                        .nav,
                        .account {
                            display: grid;
                            grid-template-columns: 1fr 3fr;
                            grid-template-rows: 1fr;
                            justify-content: center;
                            justify-items: center;
                            align-items: center;
                        }
                        
                        #logo-container,
                        #nav-container,
                        #account-container {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr;
                            justify-content: start;
                            gap: 20px;
                        }
                        
                        #header {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr 1fr;
                            grid-column: 2;
                            grid-row: 1/2;
                            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.205);
                            z-index: 2;
                            padding: 20px;
                            gap: 30px;
                        }
                        
                        #search-container {
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-template-rows: auto;
                            gap: 70px;
                        }
                        
                        #search,
                        #welcome-container {
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-template-rows: auto;
                        }
                        
                        #profile-bell,
                        #profile-btns {
                            display: grid;
                            grid-template-columns: auto auto auto;
                            grid-template-rows: auto;
                            justify-content: end;
                            align-items: center;
                        }
                        
                        #profile-welcome {
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-template-rows: auto auto;
                        }
                        
                        #search,
                        #profile-welcome {
                            justify-content: start;
                            align-items: c;
                        }
                        
                        #main-content {
                            background-color: #e2e8f0;
                            grid-column: 2;
                            grid-row: 2;
                            z-index: 1;
                        }
                        
                        .nav a,
                        .account a {
                            color: white;
                            text-decoration: none;
                        }
                        
                        .logo h2,
                        .nav h3,
                        .account h3 {
                            justify-self: start;
                        }
                        
                        .nav a:hover,
                        .account a:hover {
                            text-decoration: underline;
                        }
                        
                        .sml-thumbnail {
                            width: 35px;
                            border-radius: 50%;
                        }
                        
                        .med-thumbnail {
                            width: 50px;
                            border-radius: 50%;
                            grid-row: span 2;
                            margin-right: 20px;
                        }